<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-info bg-dark">
    <a class="navbar-brand text-white" href="index.html">OLXstatistics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Select city
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href={%url 'index'%}>Polska</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href={%url 'katowice'%}>Katowice</a>
            <a class="dropdown-item" href={%url 'gdansk'%}>Gdańsk</a>
            <a class="dropdown-item" href={%url 'krakow'%}>Kraków</a>
            <a class="dropdown-item" href={%url 'warszawa'%}>Warszawa</a>
            <a class="dropdown-item" href={%url 'wroclaw'%}>Wrocław</a>
            <a class="dropdown-item" href={%url 'kielce'%}>Kielce</a>
            <a class="dropdown-item" href={%url 'szczecin'%}>Szczecin</a>
            <a class="dropdown-item" href={%url 'rzeszow'%}>Rzeszów</a>
            <a class="dropdown-item" href={%url 'lodz'%}>Łódź</a>
            <a class="dropdown-item" href={%url 'bydgoszcz'%}>Bydgoszcz</a>
            <a class="dropdown-item" href={%url 'bialystok'%}>Białystok</a>
            <a class="dropdown-item" href={%url 'lublin'%}>Lublin</a>
          </div>
        </li>
    </ul>




    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href=" ">About project<span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<!--End Navbar-->