<!--Topside-->
<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <a class="text-decoration-none text-dark">
                <div class="card my-card shadow text-center p-3">
                    <h2>{{current.avg_m2_price_all}} PLN</h2>
                    <h5>Current average m&sup2 price<i class="fas fa-users"></i></h5>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="text-decoration-none text-dark">
                <div class="card my-card shadow text-center p-3">
                    <h2>{{current.avg_unit_price_all}} PLN</h2>
                    <h5>Current average unit price<i class="fas fa-users"></i></h5>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="text-decoration-none text-dark">
                <div class="card my-card shadow text-center p-3">
                    <h2>{{current.count_all}}</h2>
                    <h5>Available advertisements<i class="fas fa-box"></i></h5>
                </div>
            </a>
        </div>
    </div>
</div>
<!--End Topside-->